.title{
        border-bottom: solid black 3px;

}
.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width:fit-content
}
.spacer{height: 20px}