.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 5px black;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    overflow-y: scroll;
    width: 300px;
}
.container::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
.container::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
.container::-webkit-scrollbar-thumb {
    background-color: aliceblue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid aliceblue;  creates padding around scroll thumb */
  }