.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width:fit-content;
}
