.chatcontainer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    bottom: 0px;
    background-color: white;
    opacity: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: height 2s ease-out;
    
}
.chatcontainer.chat_open{
    visibility: visible;
    width: 300px;
    height: 300px;
    
}
.chatcontainer.chat_closed{
   
    visibility: hidden;
    width: 0px;
    height: 0px;
}
